# Ignore everything
*

# But not these files...
!.gitignore
!build.gradle
!src/
!src/*/
!src/*/main/
!src/*/main/java/
!src/*/main/java/unbanner/
!src/*/main/java/unbanner/*
!src/*/java/unbanner/*
!src/main/resources/*
!src/main/java/unbanner/Globals.java
