<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Courses</title>
</head>
<body>
<h1>Courses</h1>
<table>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Information</th>
    </tr>
    <tr th:each="course : ${courses}">
        <td th:text="${course.department + ' ' + course.number}"></td>
        <td th:text="${course.name}"></td>
        <td><a th:href="@{/course/{id}(id=${course.id})}">view</a></td>
    </tr>
    <tr>
        <a href="/courses/new">Create New Course</a>
    </tr>
</table>
</body>
</html>
