
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Course</h1>

Course: <b th:text="${course.description}" /> <b th:text="${course.department}" /> <b th:text="${course.number}" /><br/>

<form action="#" th:action="@{'/course/{id}'(id=${course.id})}" th:method="delete" >
    <input type="hidden" name="_method" value="delete" />
    <button type="submit" id="submitButton">Delete Course</button>
</form>

<br/>
<form action="#" th:action="@{'/course/{id}'(id=${course.id})}" th:object="${course}" th:method="post" >
    <input type="hidden" th:field="*{id}" />

    <label th:for="*{name}">Name</label>
    <input type="text" th:field="*{name}" />

    <label th:for="*{department}">Department</label>
    <input type="text" th:field="*{department}" />

    <label th:for="*{number}">Number</label>
    <input type="number" min="1000" max="9000" th:field="*{number}" />

    <label th:for="*{credits}">Credits</label>
    <input type="number" min="1" max="6" th:field="*{credits}" />

    <label th:for="*{description}">Description</label>
    <input type="text" th:field="*{description}" />

    <label th:for="*{objectives}">Objectives</label>
    <input type="text" th:field="*{objectives}" />


    <button type="submit" id="updateButton">Update</button>
</form>
<div th:each="section : ${sections}">
    <p th:text="${'Section ' + section.number}"></p><form action="#" th:action="@{'/section/{section}'(section=${section.id})}" th:method="delete">
    <button type="submit" id="deleteSection">Delete Section</button>
</form>
    <form action="#" th:action="@{'/section/{id}'(id=${section.id})}" th:object="${section}" th:method="post">
        <input type="hidden" field="id" th:value="${section.id}" />
        <label for="days" field="days">Days</label>
        <input id="days" type="text" th:value="${section.days}"/>
        <label for="time">Time</label>
        <input id="time" type="time" th:value   ="${section.time}" />
        <button type="submit" id="updateSection">Update Section</button>
    </form>
</div>
<form action="#" th:action="@{'/course/{section}/section'(section=${course.id})}" th:method="post" >
    <button type="submit" id="createSection">New Section</button>
</form>
</body>
</html>