<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Create New Course</h1>


<form action="#" th:action="@{'/courses/new'}" th:object="${course}" th:method="post">
    <input type="hidden" th:field="*{id}"/>
    <input placeholder="Course Name" type="text" th:field="*{name}"/>
    <input placeholder="Department" type="text" th:field="*{department}"/>
    <input placeholder="Student Number" type="number" th:field="*{number}"/>
    <input placeholder="Credits" type="number" th:field="*{credits}"/>
    <input placeholder="Objectives" type="text" th:field="*{objectives}"/>
    <input placeholder="Description" type="text" th:field="*{description}"/>
    <!--
    Add prereqs
    Add coreqs
    -->

    <button type="submit" id="updateButton">Create</button>
</form>


</body>
</html>