<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content">
    <p>See List of Students <a href="/students">here</a></p>
    <p>See List of Courses <a href="/courses">here</a></p>
	<p>See List of Buildings <a href="/buildings">here</a></p>
    <p>See List of Professors <a href="/professors">here</a></p>
</div>
</body>

</html>
