<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Section</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content">
    <h1>Section <span th:text="${section.number}"></span></h1>
    <div class="container">
        <h6>Room:</h6>
        <div class="container">
            <table class="table">
                <tr >
                    <td th:text="${section.room.name}"></td>
                    <td th:text="${section.room.size}"></td>
                    <td><a class="badge badge-info" th:href="@{/building/room/{id}(id=${section.room.id})}">view</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <h6>Course:</h6>
        <div class="container">
            <table class="table">
                <tr >
                    <td th:text="${course.department} + ' ' + ${course.number}"></td>
                    <td th:text="${course.name}"></td>
                    <td><a class="badge badge-info" th:href="@{/course/{id}(id=${course.id})}">view</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <h6>Professor:</h6>
        <div class="container">
            <table class="table">
                <tr>
                    <td th:text="${section.professor.firstName + ' ' + section.professor.lastName}"></td>
                    <td><a class="badge badge-info" th:href="@{/professor/{id}(id=${section.professor.id})}">view</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <h6>Students:</h6>
        <div class="container">
            <table class="table table-striped">
                <tr>
                <tr th:each="student : ${section.students}">
                    <td th:text="${student.firstName + ' ' + student.lastName}"></td>
                    <td th:text="${student.studentNum}"></td>
                    <td><a class="badge badge-info" th:href="@{/student/{id}(id=${student.id})}">view</a></td>
                </tr>
                </tr>
            </table>
        </div>
    </div>

    <br/>
    <div class="container">
        <div class="row">
        <form action="#" th:action="@{'/section/{id}'(id=${section.id})}" th:object="${section}" th:method="post" >
            <input type="hidden" th:field="*{course}" />

            <label>Number</label>
            <input type="number" class="form-control" th:field="*{number}" />

            <label>Days</label>
            <input type="text" class="form-control" th:field="*{schedule}" />

            <label>Time</label><br/>
            <input type="time" id="startTime" name="startTime" min="08:00" max="20:00" th:value="${section.startTime()}" />
            <input type="time" id="endTime" name="endTime" min="09:00" max="22:00" th:value="${section.endTime()}" />

            <br/> <label>Students</label>
            <select class="form-control" id="students" name="students" multiple="multiple" th:field="${section.students}">
                <option th:each="student : ${allStudents}"
                        th:selected="${section.students.contains(student)}"
                        th:value="${student.id}"
                        th:text="${student.firstName + ' ' + student.lastName}">Name</option>
            </select>
            <label>Room</label>
            <select class="form-control" id="room" name="room" th:field="${section.room}">
                <option th:each="room : ${allRooms}"
                        th:value="${room.id}"
                        th:text="${room.name}">Name</option>
            </select>
            <label>Instructor</label>
            <select class="form-control" id="professor" name="professorID" th:field="${section.professor}">
                <option th:each="professor : ${allProfessors}"
                        th:value="${professor.id}"
                        th:text="${professor.firstName + ' ' + professor.lastName}">
                </option>
            </select>

            <button type="submit" class="btn btn-primary" id="updateButton">Update</button>
        </form>
        </div>
        <div class="row">
            <form action="#" th:action="@{'/section/{id}'(id=${section.id})}" th:method="delete" >
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" class="btn btn-danger" id="submitButton">Delete</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>