<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content">
    <h1>Section</h1>
    <div class="container">
        <h6>Course:</h6>
        <div class="container">
            <table>
                <tr >
                    <td th:text="${section.course.department + ' ' + section.course.number}"></td>
                    <td th:text="${section.course.name}"></td>
                    <td><a class="badge badge-info" th:href="@{/course/{id}(id=${section.course.id})}">view</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <h6>Students:</h6>
        <div class="container">
            <table>
                <tr>
                <tr th:each="student : ${section.students}">
                    <td th:text="${student.firstName + ' ' + student.lastName}"></td>
                    <td th:text="${student.studentNum}"></td>
                    <td><a class="badge badge-info" th:href="@{/student/{id}(id=${student.id})}">view</a></td>
                </tr>
                </tr>
            </table>
        </div>
    </div>

    <br/>
    <div class="container">
        <div class="row">
        <form action="#" th:action="@{'/section/{id}'(id=${section.id})}" th:object="${section}" th:method="post" >
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{course}" />
            <input type="number" class="form-control" th:field="*{number}" />
            <input type="text" class="form-control" th:field="*{schedule}" />
            <input type="time" class="form-control" id="time" name="time" th:value="${section.getTimeStamp()}"/>
            <button type="submit" class="btn btn-primary" id="updateButton">Update</button>
        </form>
        </div>
        <div class="row">
            <form action="#" th:action="@{'/section/{id}'(id=${section.id})}" th:method="delete" >
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" class="btn btn-danger" id="submitButton">Delete</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>