<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraw.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Semester</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Semester<span th:text="${semester.year + ' ' + semester.season}  "></span></h1>
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col">Season: <b th:text="${semester.season}"/> <br/> </div>
                    <div class="col">Year: <b th:text="${semester.year}"/> <br/> </div>
                    <div class="col">
                        <form action="#" th:action="@{'/semester/{id}'(id=${semester.id})}" th:method="delete">
                            <input type="hidden" name="_method" value="delete"/>
                            <button type="submit" class="btn btn-danger" id="submitButton">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <div class="container">
            <h5>Sections</h5>
            <div class="container">
                <table class="table table-striped" >
                    <tr>
                        <th>Course </th>
                        <th>Section #</th>
                        <th>Room</th>
                        <th>Time</th>
                    </tr>
                    <tr th:each="section : ${semester.sections}">
                        <td th:text ="${section.course?.name}"></td>
                        <td th:text ="${section.number}"></td>
                        <td th:text= "${section.room?.name}"> </td>
                        <td th:text= "${section.getTimeLength()}"> </td>
                        <td><a class="badge badge-info" th:href ="@{/section/{id}(id=${section.id})}"> view  </a></td>
                    </tr>
                </table>
            </div>
        </div>
        <br/>


        <div class="container">
            <form action="#" th:action="@{'/semester/{id}'(id=${semester.id})}" th:object="${semester}" th:method="post">

                <label th:for="*{season}">Season</label>
                <input type="text" class="form-control" th:field="*{season}"/>

                <label th:for="*{year}">Year</label>
                <input type="number" class="form-control" th:field="*{year}"/>

                <button type="submit" class="btn btn-primary" id="updateButton">Update</button>
            </form>
        </div>
    </div>
</body>
</html>