<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Student</h1>

Name: <b th:text="${student.firstName}" /> <b th:text="${student.lastName}" /> <b th:text="${student.studentNum}" /><br/>

<form action="#" th:action="@{'/student/{id}'(id=${student.id})}" th:method="delete" >
    <input type="hidden" name="_method" value="delete" />
    <button type="submit" id="submitButton">Delete</button>
</form>

<br/>

<form action="#" th:action="@{'/student/{id}'(id=${student.id})}" th:object="${student}" th:method="post" >
    <input type="hidden" th:field="*{id}" />
    <input type="number" th:field="*{studentNum}" />
    <input type="text" th:field="*{firstName}" />
    <input type="text" th:field="*{lastName}" />
    <button type="submit" id="updateButton">Update</button>
</form>


</body>
</html>