<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Students</title>
</head>
<body>
<h1>Students</h1>
<table>
    <tr>
        <th>Name</th>
        <th>900 Number</th>
        <th>ID</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.firstName + ' ' + student.lastName}"></td>
        <td th:text="${student.studentNum}"></td>
        <td><a th:href="@{/student/{id}(id=${student.id})}">view</a></td>
    </tr>
    <tr>
        <a href="/students/new">Create New Student</a>
    </tr>
</table>
<hr/>
</body>
</html>