<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Students</title>
</head>
<body>
<h1>Students</h1>
<table>
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th></th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.firstName + ' ' + student.lastName}"></td>
        <td>
        </td>
        <td>
            <a th:href="@{/student/{id}(id=${student.id})}">view</a>
        </td>
    </tr>
</table>
<hr/>
</body>
</html>